USE [FarmInvoiceManager]
GO
/****** Object:  Table [dbo].[CustomerInfo]    Script Date: 1/21/2026 3:48:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerInfo](
	[CUSTOMER_ID] [nvarchar](10) NOT NULL,
	[CUSTOMER_NAME] [nvarchar](50) NOT NULL,
	[CUSTOMER_MOBILE] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CUSTOMER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InvoiceDetails]    Script Date: 1/21/2026 3:48:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvoiceDetails](
	[INVOICE_ID] [nvarchar](10) NOT NULL,
	[USER_ID] [nvarchar](10) NOT NULL,
	[CUSTOMER_ID] [nvarchar](10) NOT NULL,
	[CUSTOMER_NAME] [nvarchar](50) NOT NULL,
	[CUSTOMER_MOBILE] [nvarchar](20) NOT NULL,
	[TOTAL_AMOUNT] [decimal](10, 2) NOT NULL,
	[DISCOUNT_AMOUNT] [decimal](10, 2) NOT NULL,
	[FINAL_AMOUNT] [decimal](10, 2) NOT NULL,
	[INVOICE_DATE] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[INVOICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InvoiceItems]    Script Date: 1/21/2026 3:48:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvoiceItems](
	[INVOICE_ITEM_ID] [int] IDENTITY(1,1) NOT NULL,
	[INVOICE_ID] [nvarchar](10) NOT NULL,
	[PRODUCT_ID] [nvarchar](10) NOT NULL,
	[PRODUCT_NAME] [nvarchar](100) NOT NULL,
	[QUANTITY] [int] NOT NULL,
	[UNIT_PRICE] [decimal](10, 2) NOT NULL,
	[SUB_TOTAL] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[INVOICE_ITEM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductInfo]    Script Date: 1/21/2026 3:48:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductInfo](
	[PRODUCT_ID] [nvarchar](10) NOT NULL,
	[PRODUCT_NAME] [nvarchar](50) NOT NULL,
	[QUANTITY] [int] NOT NULL,
	[CATEGORY_NAME] [nvarchar](50) NOT NULL,
	[UNITPRICE] [float] NOT NULL,
	[CREATED_DATE] [date] NOT NULL,
	[IS_AVAILABLE] [bit] NOT NULL,
	[CREATED_BY_USER_ID] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PRODUCT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserInfo]    Script Date: 1/21/2026 3:48:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserInfo](
	[USER_ID] [nvarchar](10) NOT NULL,
	[ROLE] [nvarchar](10) NOT NULL,
	[FULL_NAME] [nvarchar](50) NOT NULL,
	[USERNAME] [nvarchar](50) NOT NULL,
	[EMAIL] [nvarchar](50) NOT NULL,
	[MOBILE] [nvarchar](20) NOT NULL,
	[PASSWORD] [nvarchar](50) NOT NULL,
	[NID] [nvarchar](20) NOT NULL,
	[ADDRESS] [nvarchar](50) NOT NULL,
	[CREATED_DATE] [date] NOT NULL,
	[STATUS] [bit] NOT NULL,
 CONSTRAINT [PK_UserInfo] PRIMARY KEY CLUSTERED 
(
	[USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CustomerInfo] ([CUSTOMER_ID], [CUSTOMER_NAME], [CUSTOMER_MOBILE]) VALUES (N'PC-001', N'Rahim Uddin', N'01712345678')
INSERT [dbo].[CustomerInfo] ([CUSTOMER_ID], [CUSTOMER_NAME], [CUSTOMER_MOBILE]) VALUES (N'PC-002', N'Karim Ahmed', N'01823456789')
INSERT [dbo].[CustomerInfo] ([CUSTOMER_ID], [CUSTOMER_NAME], [CUSTOMER_MOBILE]) VALUES (N'PC-003', N'Sadia Islam', N'01934567890')
GO
INSERT [dbo].[InvoiceDetails] ([INVOICE_ID], [USER_ID], [CUSTOMER_ID], [CUSTOMER_NAME], [CUSTOMER_MOBILE], [TOTAL_AMOUNT], [DISCOUNT_AMOUNT], [FINAL_AMOUNT], [INVOICE_DATE]) VALUES (N'INV-001', N'A-001', N'PC-001', N'Rahim Uddin', N'01712345678', CAST(385.00 AS Decimal(10, 2)), CAST(50.00 AS Decimal(10, 2)), CAST(335.00 AS Decimal(10, 2)), CAST(N'2026-01-01' AS Date))
INSERT [dbo].[InvoiceDetails] ([INVOICE_ID], [USER_ID], [CUSTOMER_ID], [CUSTOMER_NAME], [CUSTOMER_MOBILE], [TOTAL_AMOUNT], [DISCOUNT_AMOUNT], [FINAL_AMOUNT], [INVOICE_DATE]) VALUES (N'INV-002', N'A-001', N'PC-002', N'Karim Ahmed', N'01823456789', CAST(430.00 AS Decimal(10, 2)), CAST(30.00 AS Decimal(10, 2)), CAST(400.00 AS Decimal(10, 2)), CAST(N'2026-01-02' AS Date))
INSERT [dbo].[InvoiceDetails] ([INVOICE_ID], [USER_ID], [CUSTOMER_ID], [CUSTOMER_NAME], [CUSTOMER_MOBILE], [TOTAL_AMOUNT], [DISCOUNT_AMOUNT], [FINAL_AMOUNT], [INVOICE_DATE]) VALUES (N'INV-003', N'A-002', N'PC-003', N'Sadia Islam', N'01934567890', CAST(480.00 AS Decimal(10, 2)), CAST(100.00 AS Decimal(10, 2)), CAST(380.00 AS Decimal(10, 2)), CAST(N'2026-01-03' AS Date))
GO
SET IDENTITY_INSERT [dbo].[InvoiceItems] ON 

INSERT [dbo].[InvoiceItems] ([INVOICE_ITEM_ID], [INVOICE_ID], [PRODUCT_ID], [PRODUCT_NAME], [QUANTITY], [UNIT_PRICE], [SUB_TOTAL]) VALUES (1, N'INV-001', N'FIM-001', N'Rice 1kg', 5, CAST(65.00 AS Decimal(10, 2)), CAST(325.00 AS Decimal(10, 2)))
INSERT [dbo].[InvoiceItems] ([INVOICE_ITEM_ID], [INVOICE_ID], [PRODUCT_ID], [PRODUCT_NAME], [QUANTITY], [UNIT_PRICE], [SUB_TOTAL]) VALUES (2, N'INV-001', N'FIM-004', N'Potato 1kg', 3, CAST(20.00 AS Decimal(10, 2)), CAST(60.00 AS Decimal(10, 2)))
INSERT [dbo].[InvoiceItems] ([INVOICE_ITEM_ID], [INVOICE_ID], [PRODUCT_ID], [PRODUCT_NAME], [QUANTITY], [UNIT_PRICE], [SUB_TOTAL]) VALUES (3, N'INV-002', N'FIM-005', N'Onion 1kg', 10, CAST(25.00 AS Decimal(10, 2)), CAST(250.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[InvoiceItems] OFF
GO
INSERT [dbo].[ProductInfo] ([PRODUCT_ID], [PRODUCT_NAME], [QUANTITY], [CATEGORY_NAME], [UNITPRICE], [CREATED_DATE], [IS_AVAILABLE], [CREATED_BY_USER_ID]) VALUES (N'FIM-001', N'Rice 1kg', 200, N'Grain', 65, CAST(N'2026-01-01' AS Date), 1, N'A-001')
INSERT [dbo].[ProductInfo] ([PRODUCT_ID], [PRODUCT_NAME], [QUANTITY], [CATEGORY_NAME], [UNITPRICE], [CREATED_DATE], [IS_AVAILABLE], [CREATED_BY_USER_ID]) VALUES (N'FIM-002', N'Wheat 1kg', 150, N'Grain', 60, CAST(N'2026-01-02' AS Date), 1, N'A-001')
INSERT [dbo].[ProductInfo] ([PRODUCT_ID], [PRODUCT_NAME], [QUANTITY], [CATEGORY_NAME], [UNITPRICE], [CREATED_DATE], [IS_AVAILABLE], [CREATED_BY_USER_ID]) VALUES (N'FIM-003', N'Corn 1kg', 120, N'Grain', 55, CAST(N'2026-01-03' AS Date), 1, N'A-001')
GO
INSERT [dbo].[UserInfo] ([USER_ID], [ROLE], [FULL_NAME], [USERNAME], [EMAIL], [MOBILE], [PASSWORD], [NID], [ADDRESS], [CREATED_DATE], [STATUS]) VALUES (N'A-001', N'admin', N'Rafiq Ahmed', N'rafiqadmin', N'rafiq@gmail.com', N'01710000001', N'Admin@123A', N'1234567890', N'Dhaka, Bangladesh', CAST(N'2026-01-01' AS Date), 1)
INSERT [dbo].[UserInfo] ([USER_ID], [ROLE], [FULL_NAME], [USERNAME], [EMAIL], [MOBILE], [PASSWORD], [NID], [ADDRESS], [CREATED_DATE], [STATUS]) VALUES (N'A-002', N'admin', N'Shahidul Islam', N'shahiduladmin', N'shahidul@gmail.com', N'01710000002', N'Admin@123B', N'22345678901234567', N'Chittagong, Bangladesh', CAST(N'2026-01-01' AS Date), 1)
INSERT [dbo].[UserInfo] ([USER_ID], [ROLE], [FULL_NAME], [USERNAME], [EMAIL], [MOBILE], [PASSWORD], [NID], [ADDRESS], [CREATED_DATE], [STATUS]) VALUES (N'A-003', N'admin', N'Nusrat Jahan', N'nusratadmin', N'nusrat@gmail.com', N'01710000003', N'Admin@123C', N'3234567890', N'Sylhet, Bangladesh', CAST(N'2026-01-01' AS Date), 1)
GO
ALTER TABLE [dbo].[InvoiceDetails]  WITH CHECK ADD FOREIGN KEY([USER_ID])
REFERENCES [dbo].[UserInfo] ([USER_ID])
GO
ALTER TABLE [dbo].[InvoiceItems]  WITH CHECK ADD  CONSTRAINT [FK_InvoiceItems_ProductInfo] FOREIGN KEY([PRODUCT_ID])
REFERENCES [dbo].[ProductInfo] ([PRODUCT_ID])
GO
ALTER TABLE [dbo].[InvoiceItems] CHECK CONSTRAINT [FK_InvoiceItems_ProductInfo]
GO
ALTER TABLE [dbo].[ProductInfo]  WITH CHECK ADD FOREIGN KEY([CREATED_BY_USER_ID])
REFERENCES [dbo].[UserInfo] ([USER_ID])
GO
